<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ext_cart_price_rules>
            <ext_cart_group>
                <enabled>1</enabled>
            </ext_cart_group>
        </ext_cart_price_rules>
    </default>
</config>
