<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ext_cart_price_rules" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0"
                 showInStore="0" canRestore="1">
            <label>Extended Cart Price Rules</label>
            <tab>phpstudios</tab>
            <resource>PHPStudios_ExtCartPriceRules::configuration</resource>
            <group id="ext_cart_group" translate="label" type="text" sortOrder="10" showInDefault="1" canRestore="1">
                <label>Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this to use extended cart price rules.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
